.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
    pointer-events: auto;
}

.logo img {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.navbar {
    pointer-events: auto;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .5s;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar .admin-link {
    color: #dbf549;
    font-weight: bold;
}

.welcome-user {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

.logout-btn {
    margin-left: 50px;
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.logout-btn:hover {
    color: #dbf549;
}